/* Style for image placeholder */
.image-placeholder-large {
    width: 100%;
    height: 400px;

   
}

/* Style for product image */
.product-image-large {
    object-fit: cover;
    width: 100%;
    height: 100%;

    
}

/* Style for 'no image available' placeholder */
.no-image-available-large {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Style for card header */
.card-header {
    background-color: rgb(40, 147, 214);

}

/* Style for details title */
.details-title {
    font-weight: bolder;
   
}

/* Style for comments section */
.comments-section {
    & p {
        font-weight:400;
    }
}

